{% extends "header.html"  %}
<!-- On this page the user enters the input (sentence/forest file) -->
{% block body %}
<div class="jumbotron">
    <h1>Choose input</h1>
    <h3>You can</h3>
    <p>
        <a class="btn btn-lg btn-default" id='inputSentence'
        role="button">Enter a sentence</a>
        <a class="btn btn-lg btn-default" id='loadForest'
        role="button">Load a forest from a conll-file</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>  
                    {% for msg in messages %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!-- Display this if a sentence is entered -->
        <!-- Send input information to function input_sentence() -->
        <form method="POST" id='getInputSentence' action="/input_sentence" hidden>
            <h3>Enter the sentence to be parsed</h3>
            <br>
            <input type="text" name="sentence">
            <p>Enter the format you want</p> 
            <input type="text" name="format_sentence" value="conll09">
            <br>
            <input type=submit value=Upload>
        </form>;
        <!-- Display this form if the user chooses to upload a forest file -->
        <!-- Send input information to function load_file() -->
        <form method="POST" enctype="multipart/form-data" id='getForest' 
        action="/load_file" hidden>
            <h3>Load a forest from a file</h3>
            <p>
                <input type=file name=file>
                <p>Enter the format of the forest trees</p>
                <input type="text" name="forest_format" value="conll09">
                <br>
                <input type=submit value=Upload>
            </p>
        </form>
 


    </p>
</div>

<!-- JS-function to display input options -->
<script>
$(document).ready(function(){
    
    $("a#inputSentence").click(function() {
        $("#getInputSentence").show();
    });
    $("a#loadForest").click(function() {
        $("#getForest").show();
    });
});
</script>


{% endblock %}
