<!DOCTYPE html>
<html lang=en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="graphical user interface" 
        content="width=device-width, initial-scale=1"/>
        <title>Annotation Helper</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" 
        rel="stylesheet" >
        <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" 
        rel="stylesheet">
        <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


    </head>

    <header>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/about/">About</a></li>
            <li role="presentation"><a href="/contact/">Contact</a></li>
            <li role="presentation" class="dropdown">
            <a class=dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="true">Optionen<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/input_sentence">annotate a new sentence</a></li>
                <li><a href="/load_file">load a new forest</a></li>
                <li class="disabled"><a href="/save_file">download annotations</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/exit">End Annotation Helper</a></li>
            </ul>
            </li>
        </ul>
        </nav>
      </div>
        <div class="jumbotron">
        <h1>Annotation Helper Client</h1>
        <p><a class="btn btn-lg btn-primary" href="/choose_input" role="button">Start Annotation Helper</a></p>
      </div>
    </div>
    </header>

       
    <body>
    <div id="main" class="center">

        <hr/>

        <div id="content">
        <noscript>
            <div id="noscript">
            It appears that you have Javascript disabled.
	        Please consider enabling Javascript for this page to see the visualizations.
            </div>
        </noscript>
        </div>
          

</body>
</html>
