{% extends "header.html"  %}
<!-- Display page to load a forest file -->
{% block body %}
<div class="jumbotron">
    <form method="POST" enctype="multipart/form-data">
        <h3>Load a forest from a file</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>  
                        {% for msg in messages %}
                            <li>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <br>

        <p><input type=file name=file>
                <br>
                <p>Enter the format of the forest</p>
                <input type="text" name="forest_format" value="conll09">
                <br>

        <input type=submit value=Upload>
        </p>
    </form>
</div>



{% endblock %}
