{% extends "header.html"  %}
{% block body %}
<!-- display the subcat-frame of current sentence, asks the if it is correct, and possible answer to correct it-->
<div>
    <br>
    <div class="container" >
        <h2>{{ sentence }}</h2>
        <h3>{{ subcat }}</h3>
        <br>
        <h4>below is the best tree in the forest containing the suggested subcat frame, if there is one, else the first tree of the forest is shown</h4>
        <p>{{ sentence_visual|safe }}</p>
    </div>
    <br>
    <div class="container">
        <h3>Step 1: Edit the subcat frame</h3>
        <br>
        <form method="post" action="/get_answer_subcat">

            <input type="radio" name="subcat" id=0 value="correct">
            <label for=0>The given subcat frame is correct</label>
            <br>
            <br>

            <div class = "subcat">
                <p><b>The given subcat frame is incorrect and the correct subcat frame is:</b></p>

                <input type="radio" name="subcat" id=1 value="(subj,obj)">
                <label for=1>(subj,obj)</label><br>

                <input type="radio" name="subcat" id=2 value="(subj,objp)">
                <label for=2>(subj,objp)</label><br>

                <label for=3>Other</label>
                <input type="text" class="subcat_input" name="subcat" id=3 value="" size=80><br>
            </div>
            <br>
            <div>
                <input type="submit" name="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endblock %}
