{% extends "header.html"  %}
{% block body %}
<!-- Display current best tree, current question and possible answer to choose from -->
<div class="jumbotron">   
<p >{{sentence_visual|safe}}</p>
<br>
        <div class="container">   
            <h2>{{ sentence }}</h2>
            <h3>{{ question }}</h3>
        </div>
        <br>
        <!-- Send answer to get_answer() function -->
        <form method="post" action="/get_answer">
            <!--name "choice"coresponds to request.form["choice"]-->
            <input type="submit" class="btn btn-success btn-lg" name="choice" value="Yes">
            <input type="submit" class="btn btn-warning btn-lg" name="choice" value="No">
            <input type="submit" class="btn btn-info btn-lg" name="choice" value="Undo">
            <input type="submit" class="btn btn-danger btn-lg" name="choice" value="Abort">
        </form> 
    </div>

{% endblock %}
